# L0 meta-template ownership

* @tryingET

# Critical control surface
/copier.yml @tryingET
/contracts/** @tryingET
/copier-template/** @tryingET
/scripts/** @tryingET
/.github/workflows/** @tryingET
